body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.dorei {
    font-size: larger;
    color: rgb(204, 112, 112);
}  

  textarea{
    background: transparent;
    border: none;
    resize: none;
    padding: 10px;
    margin: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid rgb(146, 137, 96);
  }

  /* .lead {
      padding-top: 10px;
  } */
  
  .lead {
    white-space: pre-wrap;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .hour {
    color: #ffffff;
    border-top: 1px solid rgb(65, 62, 54); 
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

  .sep {
    border-right: 1px solid #CEE5F2;
  }
  
  .past {
    background-color: #b9b9b9;
    color: white;
  }
  
  .present {
    background-color: rgb(153, 148, 127);
    color: white;
  }
  
  .future {
    background-color: rgb(97, 93, 100);
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid rgb(248, 204, 7);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #91968d;
    color: white;
  }
  
  .saveBtn i:hover {
    transition: all .3s ease-in-out;
  }
